html {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    background: rgb(193, 218, 209);
    margin-top: 0;
    padding: 20px;
}

h1 {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    background: rgb(240, 246, 247);
}

.gameboard {
    width: 500px;
    height: 500px;
    max-width: 500px;
    max-height: 500px;
    margin: auto;
    margin-top: 70px;
    background: grey;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2px;
    box-shadow: 0px 10px 30px 0px rgba(49, 49, 49, 0.158);
}

.square {
    background: white;
    font-size: 6em;
    text-align: center;
    padding: 10%;
}

#winCount {
    display: grid;
    grid-template-areas: "player computer";
    padding: 0px 20% 0px 16%;
    margin-top: 10px;
    margin-bottom: -30px;
}

#playerScore {
    grid-area: player;
}

#compScore {
    grid-area: computer;
}

.buttonDiv {
    margin: 5% 0 0 0;
}

#reset {
    width: 20%;
    height: 45px;
    border: none;
    border-radius: 10px;
}

#reset:focus {
    outline: none !important;
}

#reset:active {
    background: grey;
    box-shadow: 0px 0px 5px 1px;
}