html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.gameboard {
    width: 50%;
    height: 50%;
    margin: auto;
    margin-top: 19%;
    background: grey;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2px;
    vertical-align: top;
}

.square {
    background: white;
    font-size: 6em;
    text-align: center;
    padding-top: 5%;
}